fancy{
    color: white;
    padding: 20px 40px 20px 40px;
    margin: 20px;
    font-size: 40px;
    border-radius: 30px;
    font-family: 'Sarabun', sans-serif;
    align-self: center;
}

bigmadtitle{
    font-size: 60px;
    font-family: 'Sarabun', sans-serif;
    font-weight: bold;
}

notsobigtitle{
    font-size: 30px;
    font-family: 'Sarabun', sans-serif;
    font-weight: bold;
}

.hello{
    background-color: rgb(66, 66, 66);
}

.stMarkdownContainer{
    font-family: 'Sarabun', sans-serif;
}

bighead{
    font-family: 'Sarabun', sans-serif;
    color: white;
    font-size: 20px;
    font-weight:bold;
}

.css-13sdm1b{
    font-family: 'Sarabun', sans-serif;
}

body{
    background: rgb(32,35,41);
    background: linear-gradient(90deg, rgba(32,35,41,1) 0%, rgba(72,82,89,1) 100%);
    font-family: 'Sarabun', sans-serif;
}

.st-ae{
    font-family: 'Sarabun', sans-serif;
}

.css-10trblm{
    font-family: 'Sarabun', sans-serif;
}

.css-1p05t8e{
    border-width: 0px;
}

html {
    scroll-behavior: smooth;
  }